@import '../../../../../styles/var.less';

.header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid var(--color-border-secondary);
  background-color: var(--color-bg-subtle);
}

.title {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.iconButton {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-text-secondary);
  &:hover {
    color: var(--color-text);
    background: var(--color-hover-bg);
  }
}

.dropdownOverlay {
  max-width: 500px;
  :global {
    .ant-dropdown-menu-item {
      padding: 4px 6px !important;
    }
  }
}

.menuLabel {
  display: flex;
  align-items: center;
  .menuLabelIconBox {
    width: 22px;
    display: flex;
    align-items: center;
  }
  .menuLabelIcon {
    color: var(--color-primary);
  }
  .menuLabelTag {
    margin-right: 10px;
  }
  .menuLabelTitle {
    flex: 1;
    width: 0px;
    .f-single-line();
  }
  .envTag {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-right: 8px;
  }
}

.databaseTypeIcon {
  margin-right: 10px;
  font-weight: 400;
  color: var(--color-primary);
}
