@import '../../styles/var.less';

.singleFileMonacoEditor {
  position: relative;
  height: 18px;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18px;
  line-height: 18px;
  color: var(--color-text-tertiary);
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
